<div class="food-card">
    <div class="food-name-header">
        {{food_name}}
    </div>
    <div class="card-body">
        <p>
            Food Type:
            {{type_name}}
        </p>
        <p>
            Description:
            {{food_descr}}
        </p>
        <p>
            Price:
            {{price}}
        </p>
        <p>
            Tags:
            {{tag_name}}
        </p>
    </div>
</div>